# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.pytest_cache

# Данные
/data
data/*.csv


# IDE
.vscode/
.idea/
*.swp
*.swo

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

#Catboost
/catboost_info

#Plots
/plots

#other
metrics_report.txt
/test_*
/TODO*
/users.json